<h1>Editing Medium</h1>

<%= render 'form' %>

<button type="button" class="bttn"><%= link_to 'Show Medium Details', @dvd %></button>
<button type="button" class="bttn"><%= link_to 'Show All Media', dvds_path %></button>
