<% provide(:title, 'Home') %>

<div>
  <h1>GA's WDI Cohort 6 Project 2</h1>

  <h3>A Relational Database Using Ruby on Rails and SQL</h3>

  <h4>Featuring AuthN and AuthZ</h4>

  <br/>
  <button type="button" class="bttn"><%= link_to "Sign up now!", signup_path %></button>
  <button type="button" class="bttn"><%= link_to "Sign in", signin_path %></button><br>
  <button type="button" class="bttn"><%= link_to "About MEDIAdb", about_path %></button>
</div>
