<h1>Editing User</h1>

<%= render 'form' %>

<button type="button" class="bttn"><%= link_to 'Show User Details', @user %></button>
<button type="button" class="bttn"><%= link_to 'Show All Users', users_path %></button>
