html {
    background-color: yellow;
}

body {
    font-size: 10px;
}

#plaX {
    float: left;
    font-size: 30px;
}

#plaO {
    float: right;
    font-size: 30px;
}

#gamefield {
    width: 314px;
    height: 314px;
    margin: 0 auto;
}

.cell {
    border: red solid 1px;
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 80px;
}

h1 {
    font-size: 80px;
    text-align: center;
    border: blue solid 10px;
}

footer {
    font-style: italic;
    text-align: center;
    color: #aaaaaa;
}
